* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #20202d;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

.button {
  background: linear-gradient(180deg, #fdde76 0%, #ffbb01 100%);
  box-shadow: 0px 4px 0px #b68500;
  border-radius: 5px 5px 10px 10px;
  padding: 24px 42px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.hero {
  background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
  padding-bottom: 155px;
}

.hero-avatar {
  width: 389px;
  height: 389px;
  background-color: #ffffff;
  border-radius: 50%;
  background-image: url("../img/avatar/bush.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top 10%;
  border: 11px solid #ffffff;
}

.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 105px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-description {
  max-width: 420px;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 38px;
}

.hero-subtitle {
  display: inline-block;
  font-size: 24px;
  line-height: 28px;
  color: #ffbb01;
  margin-bottom: 14px;
}

.hero-title {
  margin-top: 0;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 20px;
}

.container {
  max-width: 945px;
  margin: auto;
  width: 90%;
}

.section {
  padding-top: 64px;
  padding-bottom: 92px;
}
.section-header {
  margin: 0;
  margin-bottom: 84px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  color: #ffffff;
}

.social-link {
  margin-left: 20px;
}

.social-link:first-child {
  margin: 0px;
}

/**************** Features *********/

.features {
  background: #000000;
}

.features-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-item {
  flex-basis: 28%;
  margin-bottom: 64px;
}

.feature-img {
  display: block;
  margin-bottom: 22px;
}

.item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 16px;
}

.item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}

/************* Projects ***********/

.projects {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
}

.project-img {
  max-width: 400px;
  object-fit: cover;
}

.slider-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 50%;
  margin: 0 auto;
}

.slider-title {
  flex-basis: 100%;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
}

.slider-item {
  display: flex;
  align-items: flex-start;
}

.slider-item-descr {
  margin-left: 16px;
}

.feedback:last-child {
  margin-bottom: 0;
}

.slider-item-title,
.slider-item-raragraph {
  margin: 0px;
}

.slider-item-raragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

.slider-item-title {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.time,
.cost {
  flex-basis: 50%;
  margin-bottom: 44px;
}

.feedback {
  flex-basis: 100%;
}

.project-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
}

.bullets {
  box-sizing: content-box;
  width: 10px;
  height: 10px;
  border: 3px solid #ffbb01;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  justify-items: center;
}

.project-bullets-active {
  background-color: #ffbb01;
}

/************* Footer *************/

.contacts-data {
  display: flex;
  flex-wrap: wrap;
}

.contacts-form {
  background: #ffffff;
  box-shadow: -5px 5px 0px #ffc41d;
  border-radius: 5px;
  padding: 40px 48px 49px;
  max-width: 380px;
}

.contacts-link {
  color: inherit;
  text-decoration: none;
  margin-right: 37px;
}

.contacts-link:hover {
  text-decoration: underline;
}

.contacts-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-phone,
.contacts-email {
  flex-basis: 50%;
  margin-bottom: 53px;
}

.contacts-social {
  flex-basis: 100%;
  margin-bottom: 42px;
}

.contacts-text {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
}

.contacts-title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
}

.form-btn {
  width: 100%;
}

.form-title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin-bottom: 29px;
}

.input {
  background: #f8f8f8;
  box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
  border-radius: 5px;
  border: none;
  padding: 10px 50px;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
}

.input-name {
  margin-bottom: 17px;
  background-image: url(../img/user-icon.svg);
  background-repeat: no-repeat;
  background-position: left 20px center;
}

.input-phone {
  margin-bottom: 26px;
  background-image: url(../img/phone-icon.svg);
  background-repeat: no-repeat;
  background-position: left 20px center;
}

.privacy-policy {
  margin-top: 73px;
  display: inline-block;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #a5a5a5;
}

@media (max-width: 1100px) {
  .hero-avatar {
    width: 300px;
    height: 300px;
    border-width: 10px;
  }
}

@media (max-width: 970px) {
  .contacts-social a {
    margin-right: 20px;
  }
}

@media (max-width: 944px) {
  .contacts-block {
    align-items: flex-start;
  }
  .contacts-social {
    flex-basis: 100%;
  }
  .contacts-phone a {
    margin-right: 0;
  }
  .contacts-email a {
    margin-right: 0;
  }
  .contacts-phone,
  .contacts-email {
    flex-basis: 50%;
  }
}

@media (max-width: 860px) {
  .hero-content {
    flex-direction: column;
  }
  .hero-avatar {
    order: 0;
    width: 300px;
    height: 300px;
    border-width: 10px;
    margin-bottom: 17px;
  }
  .hero-text {
    order: 1;
    text-align: center;
  }
  .feature-item {
    flex-basis: 45%;
  }
  .project-img {
    margin-bottom: 46px;
    flex-basis: 45%;
  }
  .slider-text {
    flex-basis: 45%;
  }
  .swiper-pagination {
    margin-top: 27px;
  }
  .contacts-block {
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .contacts-form {
    margin-bottom: 58px;
  }
  .contacts-phone a {
    margin-right: 0;
  }
  .contacts-email a {
    margin-right: 0;
  }
  .contacts-phone,
  .contacts-email {
    flex-basis: 50%;
  }
  .contacts-text {
    display: block;
  }
  .bullets {
    box-sizing: border-box;
  }
  .contacts-social {
    flex-basis: 100%;
  }
}

@media (max-width: 800px) {
  .hero {
    padding-bottom: 90px;
  }
  .section {
    padding: 40px 0 70px;
  }
  .hero-header {
    padding-top: 20px;
    margin-bottom: 40px;
  }
  .button {
    padding: 14px 32px;
  }
  .hero-avatar {
    width: 200px;
    height: 200px;
  }
  .contacts-phone,
  .contacts-email {
    flex-basis: 45%;
  }
  .contacts-text,
  .contacts-form {
    flex-basis: 48%;
  }
  .project-img {
    flex-basis: 40%;
  }
  .slider-text {
    flex-basis: 40%;
  }
}

@media (max-width: 738px) {
  .contacts-phone,
  .contacts-email {
    margin-bottom: 30px;
  }
  .privacy-policy {
    margin-top: 50px;
  }
}

@media (max-width: 700px) {
  .section {
    padding-top: 0;
  }
  .slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .project-img {
    max-width: 100%;
    flex-basis: 100%;
    margin: auto;
    margin-bottom: 46px;
  }
  .contacts-phone,
  .contacts-email,
  .contacts-social {
    margin-bottom: 40px;
  }
  .contacts-social a {
    margin-right: 20px;
  }
  .slider-text {
    display: flex;
  }
  .time,
  .cost {
    display: flex;
    flex-basis: 40%;
    margin-bottom: 44px;
    margin-right: 40px;
  }
  .slider-item-feedback {
    flex-basis: 90%;
  }
}

@media (max-width: 564px) {
  .button {
    font-size: 10px;
    line-height: 28px;
  }
  .hero-header {
    padding-top: 43px;
    margin-bottom: 39px;
  }
  .social-link {
    margin-left: 10px;
  }
  .hero-subtitle {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 4px;
  }
  .hero-title {
    font-size: 24px;
    line-height: 28px;
  }
  .hero-description {
    font-size: 14px;
    line-height: 20px;
  }
  .hero {
    padding-bottom: 75px;
  }
  .section {
    padding: 60px 0;
  }
  .item-title {
    font-size: 18px;
    line-height: 28px;
  }
  .item-text {
    font-size: 14px;
    line-height: 28px;
  }
  .feature-item {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .section-header {
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 60px;
  }
  .hero-avatar {
    width: 113px;
    height: 113px;
    border-width: 3px;
  }
  .slider-title {
    font-size: 18px;
    line-height: 27px;
  }
  .project-img {
    max-width: 100%;
    margin-bottom: 46px;
  }
  .slider-item {
    margin-bottom: 33px;
  }
  .slider-item-title {
    font-size: 18px;
    line-height: 21px;
  }
  .slider-item-raragraph {
    font-size: 14px;
    line-height: 16px;
  }
  .time,
  .cost {
    flex-basis: 100%;
  }
  .swiper-container {
    width: 100%;
    max-height: 778px;
  }
  .swiper-pagination {
    margin-top: 27px;
  }
  .bullets {
    box-sizing: border-box;
  }
  .contacts-form {
    padding: 40px 19px 47px;
    margin: auto;
    margin-bottom: 58px;
  }
  #contacts-title {
    text-align: center;
  }
  .form-title {
    font-size: 15px;
    line-height: 140%;
    margin-bottom: 27px;
  }
  .contacts-block {
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .contacts-text {
    flex-direction: column;
  }
  .contacts-social {
    margin-bottom: 39px;
  }
  .contacts-social a {
    margin-bottom: 13px;
  }
  .contacts-title {
    font-size: 18px;
    line-height: 21px;
  }
  .contacts-link {
    display: flex;
    flex-basis: 100%;
    font-size: 14px;
    line-height: 16px;
  }
  .privacy-policy {
    margin-top: 27px;
  }
  .contacts-phone,
  .contacts-email {
    margin-bottom: 35px;
  }
}

@media (max-width: 320px) {
  .contacts-data {
    flex-direction: column;
  }
}
